@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffde59;
}
.container {
  width: 90%;
  margin: auto;
}
img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.recipeTitle {
  font-family: "Lobster", cursive;
  padding: 10px 0;
  text-align: center;
  color: #008037;
  margin-bottom: 10px;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: #000000 solid 2px;
  padding: 10px 0;
}
.User-name {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0 20px;
}
.ingredients {
  font-family: "Lobster", cursive;
  text-align: center;
  color: #008037;
}
.instructions {
  font-family: "Lobster", cursive;
  text-align: center;
  color: #008037;
}
.ingredients-part {
  margin: 10px 20px;
  text-align: justify;
}
.instructions-part {
  margin: 10px 20px;
  text-align: justify;
}
.recipeDetails {
  line-height: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  white-space: pre-line;
}
