@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  letter-spacing: 1.6px;
}
body {
  background-color: #ffde59;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 60%;
  margin: auto;
  padding: 10px 0;
}
.title {
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
  color: #008037;
  font-family: "Lobster", cursive;
  letter-spacing: 3px;
}
.backBtn {
  padding: 10px;
  margin: 35px 0px 0px 20px;
  width: 70px;
  background-color: #008037;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
}
.recipeForm {
  margin-top: 20px;
  background-color: #008037;
  padding: 20px 0;
}
input[type="text"] {
  margin: 5px 0px;
  padding: 6px;
  border: none;
  border-radius: 5px;
  width: 100%;
}
input[type="text"]:focus {
  outline: none;
}
label {
  font-size: small;
  color: #ffde59;
  font-weight: 700;
}
select {
  margin: 5px 0px;
}
textarea {
  margin: 8px 0px;
  resize: none;
  border-radius: 5px;
  padding: 7px;
  vertical-align: top;
  max-width: 100%;
}
textarea:focus {
  outline: none;
}
.fileBtn {
  margin: 5px 0;
}
input[type="file"]::-webkit-file-upload-button {
  padding: 5px;
  background-color: #ffde59;
  color: #008037;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}
select{
  display: block;
}
.submit {
  display: flex;
  justify-content: flex-end;
}
.submitBtn {
  padding: 5px;
  margin: 7px 5px 0 0;
  border-radius: 6px;
  border: none;
  outline: none;
  width: 100px;
  background-color: #008cba;
  color: white;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
    margin-top: 10px;
  }
  label {
    font-size: medium;
  }
  .box {
    display: block;
  }
  .backBtn {
    width: 60px;
    padding: 5px;
  }
  textarea {
    font-size: smaller;
    max-width: 100%;
  }
  input[type="text"] {
    font-size: x-small;
    padding: 10px;
  }
  .container{
    width: 75%;
    margin: auto;
  }
}
@media only screen and (min-width: 600px) {
  .title {
    font-size: 2rem;
  }
  textarea {
    max-width: 100%;
  }
}
.error {
  color: red;
}
.direction{
  padding: 0px 0px 15px 0px;
  font-size: 1rem;
  font-weight: 800px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffde59;
}