@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffde59;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  overscroll-behavior-y: contain;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
.navmenu {
  background-color: #F2F2F2;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}
.navmenu ul,
li {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: smaller;
  height: 100%;
}
.unselectable {
  user-select: none;
}
.TopNav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.TopNav ul,
li {
  display: flex;
  align-items: center;
  justify-content: end;
}
.TopNav,
.User {
  margin-top: 20px;
  margin-right: 40px;
}
img,
.User {
  height: 40px;
  width: 40px;
}
.navIcons{
  width: 32px;
  height: 32px;
}
button{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #008037;
  border: solid 10px #FAF9F6;
  font-size: 5rem;
  font-family: "Lobster", cursive;
  outline: #000 solid 5px;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: 100vh;
}
@media only screen and (max-width: 600px){
  .navIcons{
    width: 24px;
    height: 24px;
}
}
